version: '3.4'

services:
  enolauncher:
    environment:
      - DATABASE_DOMAIN=enopostgres
    build:
      context: .
      dockerfile: EnoLauncher/Dockerfile
    volumes:
      - ./ctf.json:/app/ctf.json
  enopostgres:
    image: postgres
    environment:
      POSTGRES_USER: docker
      POSTGRES_PASSWORD: docker
    volumes:
      - enowarspostgres:/var/lib/postgresql
    ports:
      - "127.0.0.1:5432:5432"
    shm_size: 256MB
#  enoengine:
#    image: ${DOCKER_REGISTRY-}enoengine
#    build:
#      context: .
#      dockerfile: EnoEngine/Dockerfile

volumes:
  enowarspostgres:

